##Data scraping from Wiki page

In [1]:
import pandas as pd
wiki='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
list=pd.read_html(wiki)
df=list[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

##Clean up of dataframe

In [2]:
df.columns=['PostalCode', 'Borough', 'Neighborhood']
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [3]:
df1=df.query('Borough != "Not assigned"').reset_index(drop=True)
df1.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [5]:
df2=df1.groupby('PostalCode', as_index=False).agg(lambda x:','.join(set(x.dropna())))
df2.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Rouge Hill,Port Union,Highland Creek
2        M1E  Scarborough       Morningside,Guildwood,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [6]:
df2.loc[df2['Neighborhood'] == "Not assigned", 'Neighborhood'] = df2['Borough']
df2.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Rouge Hill,Port Union,Highland Creek
2        M1E  Scarborough       Morningside,Guildwood,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

##No of rows

In [7]:
df2.shape[0]

103